.input-section input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #545c6e;
    background-color: #292d37;
    transition: all ease-in-out .2s;
    color: white;
}

.input-section input:focus {
    border: 2px solid #8992a7;
    outline: none;
}

.input-section input:hover {
    border: 2px solid #8992a7;
}

.input-section button {
    transition: all ease-in-out .4s;
    color: white;
}

.input-section button:hover {
    background: #3c553e;
}

.input-section button:focus {
    outline: none;
}

.input-section {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.text {
    margin: 5px 5px 0px 5px;
    text-align: start;
}

.warning {
    margin: 0px 5px 0px 5px;
    text-align: start;
    display: none;
}

.complete {
    color: chartreuse;
}

.delete {
    color: #d63434;
}